In [1]:
import numpy as np
import pandas as pd
import timeit

In [2]:
lat = pd.read_csv('lat.csv')
lon = pd.read_csv('lon.csv')

In [3]:
lon

              lat
0       32.552536
1       32.552626
2       32.552717
3       32.552807
4       32.552897
...           ...
106596  42.155745
106597  42.155835
106598  42.155925
106599  42.156015
106600  42.156105

[106601 rows x 1 columns]

In [4]:
lat_dict = {}
for i in range(0, 108):
    lat_dict["lat_{0}".format(i)] = lat[(lat.index < 1000*i) & (lat.index >= 1000*(i-1))]
lat_dict["lat_54"]
len(lon)*1000

98161000

In [6]:
def vertical(set_number):
    start = timeit.default_timer() 
    
    current_lat = 'lat_{0}'.format(set_number)
    helper_dict = {}
    for i in range(len(lat_dict[current_lat])):
#         temp = pd.DataFrame(columns=['lat', 'lon', 'blank'])
        temp = pd.DataFrame(columns=['lat', 'lon'])
        temp = temp.merge(lon, how='outer')
        temp = temp.fillna(value=lat_dict[current_lat].iloc[i,])
        helper_dict['df_{0}'.format(i)]=temp
        if i % 500 == 0:
            print("done with vertical df_" + str(i) + " to dict")
    df = pd.concat(helper_dict.values(), ignore_index=True)
    print("Done concating, indexing...")
    df['index'] = df.index + (set_number-1)*98161000        # len(lon)*1000
    print('Done indexing with set number: ' + str(set_number) + ", writing to csv...")
#     df.to_csv('set_{0}.csv'.format(set_number), index=False, chunksize=100000)
    
    stop = timeit.default_timer()
    print('Done! Time: ' + str(stop - start) + '\n') 
    return df

In [34]:
for i in range(101, 108):
    vertical(i)

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 101, writing to csv...
Done! Time: 287.00452208700153

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 102, writing to csv...
Done! Time: 274.37379802200303

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 103, writing to csv...
Done! Time: 273.2811496650029

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 104, writing to csv...
Done! Time: 267.5138421800002

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 105, writing to csv...
Done! Time: 270.3647551489994

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 106, writing to csv...
Done! Time: 273.2241067509967

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 107, writing to csv...
Done! Time: 162.83765243700327

In [40]:
df_1 = vertical(107)

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 107, writing to csv...
Done! Time: 21.586649114004103

In [233]:
set_number = 1
df_1.to_csv('set_{0}.csv'.format(set_number), index=False, chunksize=100000)

In [7]:
df_107 = vertical(107)

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 107, writing to csv...
Done! Time: 19.613838621000003

In [8]:
df_1 = vertical(1)

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 1, writing to csv...
Done! Time: 31.20540467

In [60]:
df_1.loc[df_1['lon']==-124.907264]

                lat         lon     index
0         32.552536 -124.907264         0
98161     32.552626 -124.907264     98161
196322    32.552717 -124.907264    196322
294483    32.552807 -124.907264    294483
392644    32.552897 -124.907264    392644
...             ...         ...       ...
97670195  32.642212 -124.907264  97670195
97768356  32.642302 -124.907264  97768356
97866517  32.642392 -124.907264  97866517
97964678  32.642482 -124.907264  97964678
98062839  32.642573 -124.907264  98062839

[1000 rows x 3 columns]

In [21]:
df_107

                lat         lon        index
0         42.102072 -124.907264  10405066000
1         42.102072 -124.907151  10405066001
2         42.102072 -124.907039  10405066002
3         42.102072 -124.906926  10405066003
4         42.102072 -124.906813  10405066004
...             ...         ...          ...
58994756  42.156105 -113.849819  10464060756
58994757  42.156105 -113.849706  10464060757
58994758  42.156105 -113.849593  10464060758
58994759  42.156105 -113.849481  10464060759
58994760  42.156105 -113.849368  10464060760

[58994761 rows x 3 columns]

In [27]:
98161000*106+58994761

10464060761