In [1]:
import numpy as np
import pandas as pd
import timeit

In [2]:
lat = pd.read_csv('lat.csv')
lon = pd.read_csv('lon.csv')

In [3]:
lat

              lat
0       32.552536
1       32.552626
2       32.552717
3       32.552807
4       32.552897
...           ...
106596  42.155745
106597  42.155835
106598  42.155925
106599  42.156015
106600  42.156105

[106601 rows x 1 columns]

In [4]:
lat_dict = {}
for i in range(0, 106):
    lat_dict["lat_{0}".format(i)] = lat[(lat.index < 1000*i) & (lat.index >= 1000*(i-1))]
lat_dict["lat_54"]
len(lon)*1000

98161000

In [190]:
set_1 = {}
for i in range(len(lat_dict['lat_1'])):
    temp = pd.DataFrame(columns=['index', 'lat', 'lon', 'blank'])
    temp = temp.merge(lon, how='outer')
    temp = temp.fillna(value=lat_dict['lat_1'].iloc[i,])
    set_1['df_{0}'.format(i)]=temp
    print('finished df_{0}'.format(i))

finished df_0
finished df_1
finished df_2
finished df_3
finished df_4
finished df_5
finished df_6
finished df_7
finished df_8
finished df_9

In [18]:
def vertical(set_number):
    start = timeit.default_timer() 
    
    current_lat = 'lat_{0}'.format(set_number)
    helper_dict = {}
    for i in range(len(lat_dict[current_lat])):
#         temp = pd.DataFrame(columns=['lat', 'lon', 'blank'])
        temp = pd.DataFrame(columns=['lat', 'lon'])
        temp = temp.merge(lon, how='outer')
        temp = temp.fillna(value=lat_dict[current_lat].iloc[i,])
        helper_dict['df_{0}'.format(i)]=temp
        if i % 500 == 0:
            print("done with vertical df_" + str(i) + " to dict")
    df = pd.concat(helper_dict.values(), ignore_index=True)
    print("Done concating, indexing...")
    df['index'] = df.index + (set_number-1)*98161000        # len(lon)*1000
    print('Done indexing with set number: ' + str(set_number) + ", writing to csv...")
    df.to_csv('set_{0}.csv'.format(set_number), index=False, chunksize=100000)
    
    stop = timeit.default_timer()
    print('Done! Time: ' + str(stop - start) + '\n') 
    return df

In [20]:
for i in range(21, 40):
    vertical(i)

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 21, writing to csv...
Done! Time: 273.2481542980004

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 22, writing to csv...
Done! Time: 270.15358672799994

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 23, writing to csv...
Done! Time: 275.65257747600117

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 24, writing to csv...
Done! Time: 272.69066437699985

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 25, writing to csv...
Done! Time: 274.24827159800043

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 26, writing to csv...
Done! Time: 273.5414910719992

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 27, writing to csv...
Done! Time: 274.29338796900083

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 28, writing to csv...
Done! Time: 271.26597209699867

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 29, writing to csv...
Done! Time: 272.6947107729993

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 30, writing to csv...
Done! Time: 273.32113972500156

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 31, writing to csv...
Done! Time: 273.7300287649996

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 32, writing to csv...
Done! Time: 274.89247835400056

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 33, writing to csv...
Done! Time: 274.6725433600004

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 34, writing to csv...
Done! Time: 276.6425990309999

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 35, writing to csv...
Done! Time: 277.7298002560001

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 36, writing to csv...
Done! Time: 280.0673517510004

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 37, writing to csv...
Done! Time: 279.01920112399966

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 38, writing to csv...
Done! Time: 279.26091179500145

done with vertical df_0 to dict
done with vertical df_500 to dict
Done concating, indexing...
Done indexing with set number: 39, writing to csv...
Done! Time: 281.28020478800136

In [11]:
print('\n')

In [230]:
df_1

,index,lat,lon,blank,index,lat,lon,blank,index,lat,...,lon,blank,index,lat,lon,blank,index,lat,lon,blank
0,0,32.552536,-124.907264,NaN,981610,32.553438,-124.907264,NaN,1963220,32.554339,...,-124.907264,NaN,6871270,32.558845,-124.907264,NaN,7852880,32.559746,-124.907264,NaN
1,1,32.552536,-124.907151,NaN,981611,32.553438,-124.907151,NaN,1963221,32.554339,...,-124.907151,NaN,6871271,32.558845,-124.907151,NaN,7852881,32.559746,-124.907151,NaN
2,2,32.552536,-124.907039,NaN,981612,32.553438,-124.907039,NaN,1963222,32.554339,...,-124.907039,NaN,6871272,32.558845,-124.907039,NaN,7852882,32.559746,-124.907039,NaN
3,3,32.552536,-124.906926,NaN,981613,32.553438,-124.906926,NaN,1963223,32.554339,...,-124.906926,NaN,6871273,32.558845,-124.906926,NaN,7852883,32.559746,-124.906926,NaN
4,4,32.552536,-124.906813,NaN,981614,32.553438,-124.906813,NaN,1963224,32.554339,...,-124.906813,NaN,6871274,32.558845,-124.906813,NaN,7852884,32.559746,-124.906813,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981605,981605,32.553347,-113.849819,NaN,1963215,32.554249,-113.849819,NaN,2944825,32.555150,...,-113.849819,NaN,7852875,32.559656,-113.849819,NaN,8834485,32.560558,-113.849819,NaN
981606,981606,32.553347,-113.849706,NaN,1963216,32.554249,-113.849706,NaN,2944826,32.555150,...,-113.849706,NaN,7852876,32.559656,-113.849706,NaN,8834486,32.560558,-113.849706,NaN
981607,981607,32.553347,-113.849593,NaN,1963217,32.554249,-113.849593,NaN,2944827,32.555150,...,-113.849593,NaN,7852877,32.559656,-113.849593,NaN,8834487,32.560558,-113.849593,NaN
981608,981608,32.553347,-113.849481,NaN,1963218,32.554249,-113.849481,NaN,2944828,32.555150,...,-113.849481,NaN,7852878,32.559656,-113.849481,NaN,8834488,32.560558,-113.849481,NaN
981609,981609,32.553347,-113.849368,NaN,1963219,32.554249,-113.849368,NaN,2944829,32.555150,...,-113.849368,NaN,7852879,32.559656,-113.849368,NaN,8834489,32.560558,-113.849368,NaN

In [233]:
set_number = 1
df_1.to_csv('set_{0}.csv'.format(set_number), index=False, chunksize=100000)

In [234]:
163894/3

54631.333333333336